
body {
    margin: auto;
    width: 1080px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F0F0F0;

}

.topnav {
    overflow: hidden;
    background-color: #27a3dd;
    border: 1px solid #000000;
    margin-top: 10px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #27a3dd;
    color: black;
}

.topnav a.active {
    background-color: #2980b9;
    color: white;
}

#title{
    margin-top: 15px;
    padding: 20px;
}

#category{
    background-color: white;
    float: left;
    width: 200px;
    height: 100%;
    margin-top: 20px;
}
#categoryList li{
    list-style-type: none;
}

#categoryList li a{

    font-size: 15px;
    color: #2980b9;
    text-decoration: none;
    line-height: 30px;
}

#feedDisplayArea{
    float: right;
    background-color: white;
    width: 80%;
    margin-top: 20px;
    border: 2px solid #909090;
}

textarea{
    float: left;
    width: 100%;

}
#justaskbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    float: right;
    margin-right: 6px;

}

input[type="text"]{
    margin-top: 8px;
    width: 99%;
    height: 44px;
    border: 2px solid;
    margin-left: 4px;
    font-size: 16px;
}

#tag{
    margin-top: 8px;
    width: 25%;
    height: 44px;
    border: 2px solid;
    margin-left: 4px;
}

#questionAnswerDisplayArea{
    float: right;
    background-color: white;
    width: 80%;
    margin-top: 20px;
    height: 100px;
}

.vote{
    margin: 2px;
    padding: 4px;
}
.title{
    display:inline;
    margin-left: 15px;
}

.postedon{
    margin-top: 0px;
    margin-left: 15px;
}

#category h4{
    text-align: center;
    background-color: #27ddbf;
    height: 20px;
}

.answercontent{
    margin-left: 15px;
    display:inline;
}